
@if (server != null)
{
    <div data-name="@server.Name"
         data-status="Server is @(server.IsOnline ? "online" : "offline")"
         style="color:@(server.IsOnline ? "green" : "red")">
        @server.Name is in @server.City that is @(server.IsOnline ? "online" : "offline")
        &nbsp;
        <button type="button" class="btn btn-primary" @onclick="ChangeStatus">Toggle</button>
    </div>

}

@code {
    [SupplyParameterFromForm]
    public Server? server { get; set; } = new Server { Name = "Server 1", City = "Toronto" };

    private void ChangeStatus()
    {
        if (this.server is not null)
            this.server.IsOnline = !this.server.IsOnline;
    }
}
